<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript">
        var fullname = prompt("Nhập Họ Tên: ");
        var points = prompt("Nhập điểm: ")
        document.write("Điểm: " + points)
        document.write("<br>")
        var fullname = fullname.toUpperCase();
        document.write("Họ Tên In Hoa : " + fullname)
        document.write("<br>")
        if (points < 5) {
            document.write("Xuất Rớt")
        } else {
            document.write("Xuất Đậu")
        }
    </script>
</head>

<body>
</body>

</html>