@font-face {
    src: url(../fonts/FontsFree-Net-SFProText-Regular.ttf);
    font-family: SF;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.page {
    width: 1224px;
    margin: 0 auto;
    background-color: white;
}

.top-header {
    height: 90px;
    background-color: #e0052b;
}

#img-logo-top {
    position: relative;
    left: 20px;
    top: 20px;
}

.text-menu {
    float: left;
    position: absolute;
    left: 520px;
    top: 10px;
    font-size: 20px;
}

.text-menu>a {
    text-decoration: none;
    padding: 0 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
}

.img-daumenu {
    margin-left: -60px;
    margin-top: 3px;
    z-index: 100;
}

.img-daumenu .ok {
    padding: 10px;
    position: absolute;
    top: 40px;
    padding-top: 30px;
    height: 182px;
    left: 100px;
    background-color: #e0052b;
    font-size: 25px
}

#labtop a {
    position: absolute;
    top: -40px;
    margin-left: 130px;
    font-size: 30px;
    color: white;
}

#labtop a:hover {
    color: cyan;
}

.search {
    position: absolute;
    left: 800px;
    top: 5px;
}

.search>input {
    appearance: none;
    width: 450px;
    border-radius: 48px;
    height: 45px;
    font-size: 19px;
    font-weight: 400;
    padding: 0 60px 0 20px;
    border: 1px solid #e3e7ef;
    background: #fbfbfb;
    outline: 0;
    margin-left: -120px;
}

.search>input:hover {
    box-shadow: 0 0 20px yellow;
}

.search>img {
    width: 24px;
    position: absolute;
    left: 370px;
    top: 10px;
}

.menu-right>a img {
    width: 28px;
    padding: 0 20px;
}

.menu-right {
    float: right;
    position: relative;
    right: 65px;
    top: -25px;
    display: flex;
}


/* ------------------------------ */

.dropbtn {
    background-color: #e0052b !important;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 5px;
    top: -2px;
}

.user {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: red;
    color: white;
    border: 1px solid yellow;
}

.user:hover .dropdown-content {
    display: block;
    right: 3px;
    /* top: 40px; */
}

.use:hover .dropbtn {
    background-color: #3e8e41;
}

.hmenu {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-align: center;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: black;
    margin-left: -20px;
}

.hmenu>li {
    display: inline-block;
}

.hmenu>li>a {
    display: block;
    line-height: 40px;
    padding: 0px 10px;
    color: black;
    text-decoration: none;
}

.hmenu>li {
    position: relative;
    padding: 0 10px;
}

.hmenu ul {
    width: 170px;
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: white;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 0 1px gray;
    position: absolute;
    display: none;
}

.hmenu>li:hover>ul {
    display: block;
}

.hmenu ul>li>a {
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    padding: 0 5px;
    border-bottom: 1px dotted lightgray;
}

.hmenu ul>li>a:hover {
    color: aqua;
}

#textbottum a {
    color: #fff;
}

#textbottum a:hover {
    color: yellow;
    text-shadow: 0 0 10px yellow;
}


/* -------------------------------- */


/* ------------------ */

.slidershow-middle {
    width: 808px;
    height: 367px;
    overflow: hidden;
    border-radius: 8px;
    position: absolute;
    top: 355px;
    right: 18.4%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid orange;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: yellow;
    box-shadow: 0 0 10px yellow;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 300px;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}


/* ---------------------------------- */

.nav-right-top {
    width: 392px;
    height: 100px;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background: #e0052b;
    font-weight: 600;
    border-radius: 20px 8px 0 0;
    overflow: hidden;
    box-shadow: -5px 5px 1px cyan;
}

.nav-right-top>a {
    color: white;
    text-decoration: none;
    position: relative;
    left: 10px;
    top: 28px;
}

.nav-right {
    padding-left: 835px;
}

.nav-left {
    position: relative;
    top: -140px;
    margin-left: 1420px;
}

.menu-top-main {
    position: relative;
    left: -300px;
    top: -40px;
}

.nav-right-middle,
.nav-right-bottum {
    width: 392px;
    height: 100px;
    background-color: #f3f5f8;
    margin-top: 34px;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    font-weight: 400;
    color: #0e0e0e;
    margin-bottom: 8px;
    position: relative;
    border-radius: 20px 8px 0 0;
}

.nav-right-middle>a,
.nav-right-bottum>a {
    color: black;
    text-decoration: none;
    position: relative;
    left: 10px;
}

.nav-right-bottum:hover,
.nav-right-middle:hover {
    width: 392px;
    height: 100px;
    margin-right: 10px;
    font-family: 'Times New Roman', Times, serif;
    background: #e0052b;
    border-radius: 20px 8px 0 0;
    overflow: hidden;
    box-shadow: -5px 5px 1px cyan;
    text-decoration: none;
}

.nav-right-middle>a:hover,
.nav-right-bottum>a:hover {
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.new-big {
    position: relative;
    top: -18px;
}

h1 {
    margin-top: 50px
}

footer {
    position: relative;
    top: 200px;
}


/* --------------------- */

.text-hover {
    padding: 10px;
    margin-top: 45px;
    text-align: center;
    background-color: gainsboro;
    display: none;
}


/* ----------------------------- */

.text-product {
    margin-top: 400px;
}

.product {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.box-product-1 {
    width: 242.7px;
    height: 410px;
    background-color: white;
    margin-left: 0px;
    transition: 0.6s;
    border: 0.1px solid #e3e7ef;
}

.box-product-1:hover {
    background-color: cyan;
}

.images-top>a>img {
    margin-left: 15px;
}

.product .label.label-new {
    background-color: #21a453;
}

.product .label.label-sale {
    background-color: #d53b2a;
    margin-left: 0px;
}

.product .label {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    margin-bottom: 4px;
    margin-left: 7px;
}

.box-bottum>a {
    text-decoration: none;
    font-size: 18px;
    display: -webkit-box;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 600;
    color: black;
    margin-top: 7px;
    margin-left: 7px;
}

.box-bottum>div {
    font-size: 13px;
    margin-bottom: 8px;
    margin-left: 7px
}

.price strong {
    color: red;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    margin-left: 7px;
}


/* ---------------------------- */

.box-product-1:hover {
    height: 400px;
    width: 250px;
    box-shadow: 10px 10px 50px 15px grey;
}

.box-product-1:hover>.text-hover {
    display: block;
}


/* ------------------------ */

.text-sale {
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: 700;
    line-height: 1;
    color: #0e0e0e;
}

.sale .label.label-new {
    background-color: #d53b2a;
    font-weight: 600;
    color: white;
    margin-left: 2px;
}

.label.label-new {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    background-color: #d53b2a;
}

.day-sale {
    color: #d53b2a;
    font-weight: 600;
    line-height: 30px;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ------------------------------- */

.sale {
    display: flex;
    flex-direction: row;
}

.price-old {
    display: block;
    text-decoration: line-through;
    color: black;
    margin-left: 10px;
    font-weight: 600;
    line-height: 20px;
}


/* ------------------------------ */

.list-product {
    display: flex;
    flex-direction: row;
}

.trademark {
    width: 113px;
    height: 74px;
    background-color: white;
    border-radius: 5px;
    background-size: 100% 100%;
    margin-left: 50px;
    border: 0.1px solid #e2d3d3;
}

.trademark>a img {
    width: auto;
    max-height: 100%;
}

.trademark:hover {
    box-shadow: 1px 5px 10px 2px gray;
}

.text-trademark {
    width: 125px;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}


/* ---------------------------------- */

.list-1 {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}


/* -------------------------------- */

.bottum {
    width: 1903px;
    height: 522px;
    background-color: #05042c;
    margin-top: 100px;
    margin: 0 auto;
}

.main-bottum {
    width: 1224px;
    height: 522px;
    background-color: #05042c;
    margin: 0 auto;
}

.icon {
    float: right;
    word-spacing: 20px;
    padding: 0 40px;
    padding-top: 50px;
    margin-right: 10px;
}

.text-hotline {
    color: white;
    opacity: 0.5;
    font-size: 20px;
}

.number {
    color: white;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 5px;
}

.hotline {
    /* padding-left: 690px; */
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 80px;
    margin-left: 650px;
    margin-top: 20px;
}

.logo-button img {
    posiaion: absolute;
    margin-top: 200px;
}


/* --------------- */

.map {
    /* display: none; */
    float: left;
    position: relative;
    bottom: 60px;
    /* padding-left: 10px; */
    margin-left: 20px;
    margin-top: 25px;
}

.place-education {
    color: white;
    float: right;
    /* position: relative; */
    /* padding-right: 90px; */
    /* bottom: 50px; */
    margin-right: 50px;
    margin-top: -50px
}

.place-education p {
    font-size: 27px;
    font-family: SF;
    font-weight: 600;
}

.real-place {
    text-decoration: underline;
}

.numberPlace {
    line-height: 30px;
}

.place {
    background-repeat: no-repeat;
}


/* --------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .page {
        margin-left: 350px;
    }
}

@media only screen and (min-width: 375px) and (max-width:667px) {
    .page {
        margin-left: 350px;
    }
    .bottum {
        width: 375px;
        margin-left: 350px;
    }
}


/* @media only screen and (min-width:) */


/* ------------------- */

.PC {
    margin: 0 auto;
    /* background-color: #d53b2a; */
    width: 1222px;
    height: 1000px;
}

.selection {
    margin-left: 10px;
    font-family: SF;
    line-height: 20px;
}

.price-down {
    margin-left: 10px;
    line-height: 80px;
}

.price-down strong {
    font-size: 20px;
}

.price-old-1 {
    text-decoration: line-through;
    font-family: SF;
    margin-left: 10px;
    font-weight: 600;
    margin-top: -20px;
}

.album img {
    border: 1px solid rgb(243, 171, 171);
    margin: 2px;
    margin-left: 5px;
    border-radius: 20px;
}

.album {
    margin: 10px;
    padding-left: 8px;
}

.album img:hover {
    box-shadow: 0px 10px 10px rgb(48, 48, 48);
    transition: 0.6s;
    margin-left: 10px;
}

aside>.text-h1 {
    background-color: rgb(219, 219, 219);
    width: 97.6%;
    height: 40px;
    line-height: 40px;
    font-family: SF;
    padding-left: 30px;
}

hr {
    height: 1px;
    background-color: rgb(105, 105, 105);
    width: 95%;
}

.album1 img {
    border: 1px solid rgb(243, 171, 171);
    margin-left: 5px;
    border-radius: 20px;
    margin: 18px;
}

.album1 {
    margin: 10px;
    padding-left: 8px;
}

.album1 img:hover {
    box-shadow: 0px 10px 10px rgb(48, 48, 48);
    transition: 0.6s;
    margin-left: 10px;
}

footer {
    margin-top: -50px;
}

.main-bottum {
    width: 1224px;
    height: 522px;
    background-color: #05042c;
    margin: 0 auto;
}